{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "engine": "./src/engine",
          "core": "./src/core",
          "lib": "./src/lib"
        }
      }
    ]
  ]
}